/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
/*header start*/
.logo{
    height: 60px;
 }
 .navbar_custom ul li a {
    text-align: center; 
}
.dropdown, .search_icon{
    text-align: center;
 }
/*header end*/

/*banner start*/
.banner_text{
    margin-top: 100px;
    margin-bottom: 110px;
}
.banner_text h1{
    font-size: 20px;
}
.banner_text p{
    font-size: 16px;
}
.scroll_text p{
    font-size: 8px;
}
.scroll_text img{
    height: 15px;
}
/*banner end*/

/*education1 start*/
.education1{
    margin: 40px 0;
}
.common{
    margin-bottom: 30px;
}
.common h1{
    font-size: 24px;
}
.education1_text{
    text-align:  center;
}
.education1_text h1{
    font-size: 20px;
}
.education1_text p{
    text-align: left;
}
.education1_text hr{
    margin: auto;
    margin-bottom: 15px;
}
.education1_text a img {
    width: 50%;
}
.education1_image{
    display: none;
}

/*education1 end*/
/*education2 start*/
.education2{
    padding: 40px 0;
}
.best p {
    font-size: 20px;
    padding: 0px 0px;
}
.best {
    padding-bottom: 10px;
}
/*education2 end*/
/*courses start*/
.courses {
    margin: 40px 0;
}
.common img{
    display: none;
}
.card{
    margin: 15px 0;
}
.button {
    margin-top: 30px;
}
.button span {
    font-size: 30px;
}
/*courses end*/
/*moments start*/
.moments{
    padding: 40px 0 20px;
}
.view_button a img{
    width: 50%;
}
/*moments end*/
/*kids start*/
.kids {
    margin: 40px 0;
}
.kid_image{
    text-align: center;
}
/*kids end*/
/*what we did start*/
.we_did {
    padding: 40px 0;
}
.count {
    margin: 20px;
}
.count h1 {
    font-size: 45px;
}
.count img {
    margin-top: 10px;
}
.count h2 {
    font-size: 20px;
}
/*what we did end*/
/*notice start*/
.notice {
    margin: 40px 0 -250px 0;
}
.n_common{
    margin-top: 20px;
    text-align: center;
}
.n_common hr {
        margin-left: auto;
}
/*notice end*/
/*contact us start*/
.contact_us {
    background-position: center;
    padding: 350px 0 50px;
}
/*contact us end*/
/*footer start*/
.footer_left{
    text-align: center;
}
.footer_left ul li {
    padding: 0px 5px;
    border-right: 0;
}
.footer_left ul li a {
    font-size: 12px;
}
.footer_right {
    text-align: center;
}
.footer_right p {
    font-size: 12px;
}
/*footer end*/
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
/*header start*/
.logo{
    height: 60px;
 }
 .navbar_custom ul li a {
    text-align: center; 
}
.dropdown, .search_icon{
    text-align: center;
 }
/*header end*/

/*banner start*/
.banner_text{
    margin-top: 100px;
    margin-bottom: 110px;
}
.banner_text h1{
    font-size: 20px;
}
.banner_text p{
    font-size: 16px;
}
.scroll_text p{
    font-size: 8px;
}
.scroll_text img{
    height: 15px;
}
/*banner end*/

/*education1 start*/
.education1{
    margin: 40px 0;
}
.common{
    margin-bottom: 30px;
}
.common h1{
    font-size: 24px;
}
.education1_text{
    text-align:  center;
}
.education1_text h1{
    font-size: 20px;
}
.education1_text p{
    text-align: left;
}
.education1_text hr{
    margin: auto;
    margin-bottom: 15px;
}
.education1_text a img {
    width: 50%;
}
.education1_image{
    display: none;
}

/*education1 end*/
/*education2 start*/
.education2{
    padding: 40px 0;
}
.best p {
    font-size: 20px;
    padding: 0px 0px;
}
.best {
    padding-bottom: 10px;
}
/*education2 end*/
/*courses start*/
.courses {
    margin: 40px 0;
}
.common img{
    display: none;
}
.card{
    margin: 15px 0;
}
.button {
    margin-top: 30px;
}
.button span {
    font-size: 30px;
}
/*courses end*/
/*moments start*/
.moments{
    padding: 40px 0 20px;
}
.view_button a img{
    width: 40%;
}
/*moments end*/
/*kids start*/
.kids {
    margin: 40px 0;
}
.kid_image{
    text-align: center;
}
/*kids end*/
/*what we did start*/
.we_did {
    padding: 40px 0;
}
.count {
    margin: 20px;
}
.count h1 {
    font-size: 45px;
}
.count img {
    margin-top: 10px;
}
.count h2 {
    font-size: 20px;
}
/*what we did end*/
/*notice start*/
.notice {
    margin: 40px 0 -150px 0;
}
.n_common{
    margin-top: 20px;
    text-align: center;
}
.n_common hr {
        margin-left: auto;
}
.recent_image{
    text-align: center;
}
/*notice end*/
/*contact us start*/
.contact_us {
    background-position: center;
    padding: 230px 0 50px;
}
/*contact us end*/
/*footer start*/
.footer_left{
    text-align: center;
}
.footer_left ul li {
    padding: 0px 5px;
    border-right: 0;
}
.footer_left ul li a {
    font-size: 12px;
}
.footer_right {
    text-align: center;
}
.footer_right p {
    font-size: 12px;
}
/*footer end*/
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
/*header start*/
.navbar_custom ul li a {
    font-size: 16px;
    color: white !important;
     padding: 0 7px !important; 
}
/*header end*/
/*banner start*/
.banner_text{
    margin-top: 115px;
    margin-bottom: 130px;
}
.banner_text h1{
    font-size: 40px;
}
.banner_text p{
    font-size: 30px;
}
.scroll_text p{
    font-size: 16px;
}
.scroll_text img{
    height: 31px;
}
/*banner end*/
/*education1 start*/
.education1{
    margin: 60px 0;
}
.common{
    margin-bottom: 30px;
}
.common h1{
    font-size: 26px;
}
.education1_text h1{
    font-size: 20px;
}
.education1_text a img {
    width: 50%;
}
.education1_image{
    margin-top: 65px;
}

/*education1 end*/
.education2{
    padding: 60px 0;
}
.best p {
    padding: 0;
}
.courses{
    margin: 60px 0;
}
.card-footer .left {
    border-right: 0 !important;
}
.button span {
    font-size: 40px;
}
.moments{
    padding: 60px 0;
}
.view_button a img{
    width: 30%;
}
.kids{
    margin: 60px 0 50px 0;
}
.we_did {
    padding: 60px 0;
}
.count h1 {
    font-size: 45px;
    margin: -10px;
}
.count img {
    width: 80%;
}
.count h2 {
    font-size: 20px;
}
/*notice start*/
.notice {
    margin: 60px 0 50px 0;
}
.n_common{
    margin-top: 20px;
    text-align: center;
}
.n_common hr {
        margin-left: auto;
}
/*notice start*/
/*.contact_us {
    background-position: center;
    padding: 230px 0 50px;
}*/
/*footer start*/
.footer_left ul li {
    margin: 0;
    padding: 0 10px;
}
.footer_left ul li a {
    font-size: 14px;
}
.footer_right p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin-top: 0px; 
}
/*footer end*/
 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
/*header start*/
.logo{
    height: 60px;
 }
/*header end*/
/*banner start*/
.banner_text{
    margin-top: 125px;
    margin-bottom: 155px;
}
/*banner end*/
/*education1 start*/
.education1 {
    margin: 70px 0;
}
.education1_text a img {
    width: 50%;
}
/*education1 end*/
.contact-us-text i {
    margin-right: 10px;
}
.sign-social i {
    color: #cccccc;
    margin-right: 18px;
}
.footer_left ul li a {
    font-size: 14px;
}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

 }